.blurBg {
  height: 379px;
  width: 1000px;
  background: url("../../../assets/images/blur-bg.svg");
  background-position: center;
  filter: blur(150px);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.tableRow > div:first-child {
  min-width: 180px;

  flex: 3;
}
.tableRow > div:nth-child(2) {
  min-width: 100px;
  flex: 2;
  text-align: center;
}
.tableRow > div:last-child {
  min-width: 220px;
  flex: 4;
  text-align: right;
}
