@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@font-face {
  font-family: "TTHoves";
  src: url(../public/fonts/TTHoves-Regular.woff) format("woff"),
    url(../public/fonts/TTHoves-Regular.woff2) format("woff2"),
    url(../public/fonts/TTHoves-Regular.ttf) format("truetype"),
    url(../public/fonts/TTHoves-Regular.ttf) format("svg"),
    url(../public/fonts/TTHoves-Regular.ttf) format("embedded-opentype");
}
@font-face {
  font-family: "TTHoves Medium";
  src: url(../public/fonts/TTHoves-Medium.woff) format("woff"),
    url(../public/fonts/TTHoves-Medium.woff2) format("woff2"),
    url(../public/fonts/TTHoves-Medium.ttf) format("truetype"),
    url(../public/fonts/TTHoves-Medium.ttf) format("svg"),
    url(../public/fonts/TTHoves-Medium.ttf) format("embedded-opentype");
}
@font-face {
  font-family: "TTHoves Bold";
  src: url(../public/fonts/TTHoves-Bold.woff) format("woff"),
    url(../public/fonts/TTHoves-Bold.woff2) format("woff2"),
    url(../public/fonts/TTHoves-Bold.ttf) format("truetype"),
    url(../public/fonts/TTHoves-Bold.ttf) format("svg"),
    url(../public/fonts/TTHoves-Bold.ttf) format("embedded-opentype");
}

html {
  font-family: "TTHoves";
  /* color: white; */
}
