.banner {
  background: url(/assets/images/countdown/bg-countdown-banner.png) no-repeat;
  background-size: cover;
  background-position: center;
}

.textStroke {
  color: white;
  -webkit-text-fill-color: black;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.scrollDown {
  animation: pulse 2.5s infinite;
}

@keyframes pulse {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}

.iconHoverAnimated {
  .image {
    width: 44px;
    height: 44px;
  }
  .iconBackground {
    position: absolute;
    width: 36px;
    height: 36px;
    transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  }
  .iconHoverBorder {
    transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
  }
  &:hover {
    .image {
      .iconHoverBorder {
        transform: rotate(60deg) scale(1.2);
      }
      .iconBackground {
        transform: scale(1.1);
      }
    }
  }
}
.colorTitle {
  background: linear-gradient(90deg, #f15c77 0%, #cc5ed9 102.61%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.gameFrame {
  background: url(/assets/images/bg-unity-frame.svg) 50% 60% no-repeat;

  background-color: black;
  position: relative;
  border-radius: 12px;

  &::before {
    content: quote($string: "");
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    transform: matrix(1, 0.04, -0.07, 1, 0, 0);
    background: linear-gradient(356.57deg, #974fd7 2.83%, #fe3415 97.64%);
    border-radius: 12px;
  }
  & canvas {
    border-radius: 12px;
  }
}

.btnPlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.bgBtnPlay {
  animation: spin 4s linear infinite;
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
