.predictRuleBg {
  background-image: url("../../../assets/images/prediction-rule-bg.svg");
  background-color: #000000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
