.dot {
  letter-spacing: 26px;
  font-weight: 700;
  font-size: 20px;
  color: white;
  opacity: 0.4;
  user-select: none;
  width: 100%;
  text-align: left;
  //   background-color: white;
}
.dotContainer {
  width: calc(100% - 160px);
}

.schedule > div {
  display: flex;
  flex: 1;
  align-items: center;
  text-align: center;
}
.schedule > div:nth-child(odd) {
  flex-direction: column;
}
.schedule > div:nth-child(even) {
  flex-direction: column-reverse;
}
.schedule > div:first-child {
  align-items: flex-start;
  text-align: start;
}
.schedule > div:nth-child(6) {
  align-items: flex-end;
  text-align: end;
}
