.dialogBackdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.5);
}
.dialogContainer {
  opacity: 1;
  transition: opacity 1225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.loading {
  width: calc(15px * 4);
  height: 30px;
  position: relative;
  display: flex;
  align-items: center;
}

.loading {
  & .rhombus {
    height: 15px;
    width: 15px;
    background-color: #2cff1d;
    left: calc(15px * 4);
    position: absolute;
    margin: 0 auto;
    border-radius: 2px;
    transform: translateY(0) rotate(45deg) scale(0);
    animation: spinner-animation 2500ms linear infinite;
  }
}

.loading {
  & .rhombus:nth-child(1) {
    animation-delay: calc(2500ms * 1 / -1.5);
  }
}

.loading {
  & .rhombus:nth-child(2) {
    animation-delay: calc(2500ms * 2 / -1.5);
  }
}
.loading {
  & .rhombus:nth-child(3) {
    animation-delay: calc(2500ms * 3 / -1.5);
  }
}

@keyframes spinner-animation {
  0% {
    transform: translateX(0) rotate(45deg) scale(0);
  }
  50% {
    transform: translateX(-233%) rotate(45deg) scale(1);
  }
  100% {
    transform: translateX(-466%) rotate(45deg) scale(0);
  }
}
