.title {
  background: url("../../../../../assets/images/bg-group-stage.svg") left
    no-repeat;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  padding: 6px 28px;
}
