.homeBanner {
  background: url(/assets/images/bg-introduction-xs.png) no-repeat;
  background-position: bottom right;
  @media (min-width: theme("screens.md")) {
    background-image: url(/assets/images/bg-introduction.png);
    background-position: top right;
  }
  background-size: cover;
}
