.bgRewardChampion {
  background: url(/assets/images/bg-reward.png) no-repeat top left;
}

.gradientBorder {
  background: linear-gradient(#f7f7f8, #f7f7f8) padding-box,
    linear-gradient(92.28deg, #9a50d2 1.17%, #df6f51 73.55%) border-box;
  border: 0.84px solid transparent;
  border-radius: 10px;
}
