.tableRow > div {
  flex: 1;
  text-align: center;
}
.tableRow > div:first-child {
  flex: 1;
  text-align: left;
}

.backgroundImage {
  background-image: url("/assets/images/bg-top-leaderboard.svg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: contain;
}
