.headingPrimaryGradient {
  font-family: "Inter";
  font-style: normal;
  font-size: 140px;
  line-height: 140px;
  letter-spacing: 4px;
  font-weight: 700;
  user-select: none;

  opacity: 0.4;
}

.colorPrimary {
  background: linear-gradient(180deg, #000000 15.8%, rgba(0, 0, 0, 0) 86.43%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: 4px transparent;
}
.colorSecondary {
  background: linear-gradient(
    180deg,
    #ffffff 15.8%,
    rgba(255, 255, 255, 0) 86.43%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: 4px transparent;
}

.headingPrimary {
  font-family: "TTHoves";
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
  text-transform: uppercase;
}
