.headingPrimaryGradient {
  font-family: "Inter";
  font-style: normal;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: 4px;
  font-weight: 700;
  user-select: none;

  opacity: 0.4;
  @media (min-width: theme("screens.xs")) {
    font-size: 80px;
    line-height: 80px;
  }
  @media (min-width: theme("screens.md")) {
    font-size: 100px;
    line-height: 100px;
  }
  @media (min-width: theme("screens.lg")) {
    font-size: 140px;
    line-height: 140px;
  }
}

.colorPrimary {
  background: linear-gradient(180deg, #000000 15.8%, rgba(0, 0, 0, 0) 86.43%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: 4px transparent;
}
.colorSecondary {
  background: linear-gradient(
    180deg,
    #ffffff 15.8%,
    rgba(255, 255, 255, 0) 86.43%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: 4px transparent;
}

.headingPrimary {
  font-family: "TTHoves";
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  text-transform: uppercase;
  transform: translateY(-27px);
  @media (min-width: theme("screens.xs")) {
    font-size: 30px;
    line-height: 40px;
    transform: translateY(-35px);
  }
  @media (min-width: theme("screens.md")) {
    font-size: 32px;
    line-height: 42px;
    transform: translateY(-41px);
  }
  @media (min-width: theme("screens.lg")) {
    font-size: 36px;
    line-height: 48px;
    transform: translateY(-60px);
  }
}
