.headingPrimaryGradient {
  font-family: "Inter";
  font-style: normal;
  font-size: 140px;
  line-height: 140px;
  letter-spacing: 4px;
  font-weight: 700;
  text-align: center;
  user-select: none;

  color: #030102;
  opacity: 0.4;

  background: linear-gradient(
    180deg,
    #ffffff 15.8%,
    rgba(255, 255, 255, 0) 86.43%
  );

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-stroke: 4px transparent;
}

.headingPrimary {
  font-family: "TTHoves";
  font-weight: 600;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
}

.smallSquare {
  width: 10.43px;
  height: 10.43px;
  background-color: rgba(145, 13, 79, 1);
  transform: rotate(45deg);
}

.largeSquare {
  width: 16.18px;
  height: 16.18px;
  background-color: rgba(254, 195, 16, 1);
  transform: rotate(45deg);
}
